In [13]:
import pandas as pd
import numpy as np
import pickle
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
import nltk

In [14]:
# reading pickle files into pandas dataframes
BK_tweets = pd.read_pickle("./BK_tweets.pkl")
SI_tweets = pd.read_pickle("./SI_tweets.pkl")

### CountVectorizer analysis - Brooklyn

In [15]:
from nltk.corpus import stopwords

BK_stopwords = ['www','https','https twitter','https twitter com','twitter',
                'pic twitter','pic twitter com','twitter com',
                'https www', 'https www instagram','instagram','instagram com',
                'www instagram','www instagram com','at the','in the','of the',
                'the protest','if you','this is','on the','to the','you re']

# filtering out tweets that got fewer than 10 likes to make processing easier
BK_tweets = BK_tweets[BK_tweets.nlikes>=1]

# countvectorizing BK tweets
vectorizer = CountVectorizer(ngram_range=(1,3))

X = vectorizer.fit_transform(BK_tweets['tweet'])

user_ids = list(BK_tweets['user_id'])

countvec_BK = pd.DataFrame(X.toarray(),columns=vectorizer.get_feature_names())

# build df with BK user_ids and countvectorized tweets
countvec_BK.insert(0, "user_id", user_ids, False) 

# import list of general stopwords
stopwords = stopwords.words()

# create list of stopwords found in the BK tweets
stopwords = list(set(countvec_BK.columns) & set(stopwords))+BK_stopwords

# remove stopwords from countvectorized BK tweets
countvec_BK = countvec_BK.drop(stopwords,axis=1)

In [16]:
print(countvec_BK.shape)
countvec_BK.head()

(6320, 246132)

,user_id,00,00 am,00 am no,00 is,00 is that,00 ll,00 ll be,00 pm,00 pm at,...,洧냀洧냁洧딝 here are,洧뉧롏洧낷洧洧낽,洧뉧롏洧낷洧洧낽 洧냆洧냂,洧뉧롏洧낷洧洧낽 洧냆洧냂 and,洧냆洧냂,洧냆洧냂 and,洧냆洧냂 and 洧낺洧낷洧낾洧냂,洧냜洧냗洧멇롏륋롏쇓롏뫯롏륋롏,洧냜洧냗洧멇롏륋롏쇓롏뫯롏륋롏 blacklivesmatter,洧냜洧냗洧멇롏륋롏쇓롏뫯롏륋롏 blacklivesmatter blm
0,33146847,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,318991844,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,38797346,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1332887239,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1104668994781487106,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
pd.options.display.max_colwidth = 300

BK_tweets[BK_tweets['tweet'].str.contains("white")].shape

(306, 33)

In [19]:
pd.options.display.max_rows = 4000

print('Number of BK tweets: '+str(countvec_BK.shape[0]))
countvec_BK.iloc[:,1:].sum(axis=0).sort_values(ascending=False)[:100]

Number of BK tweets: 6320

police                3690
protest               1672
black                 1233
the police            1142
status                1108
people                 930
blm                    732
floyd                  636
lives                  627
george                 598
brooklyn               597
george floyd           573
matter                 565
blacklivesmatter       563
black lives            491
lives matter           479
like                   475
black lives matter     435
peaceful               413
white                  390
brutality              386
police brutality       367
us                     347
nyc                    343
cops                   342
get                    330
today                  323
nypd                   320
protests               308
justice                299
right                  298
need                   289
new                    286
officers               272
go                     272
to be                  270
see                    266
igshid                 260
know                   258
fuck                   255
riot                   240
violence               240
going                  237
breonna                235
would                  230
say                    229
time                   223
taylor                 222
protesters             219
for the                215
breonna taylor         213
let                    212
georgefloyd            207
stop                   202
of police              202
peaceful protest       202
even                   198
racism                 192
many                   191
city                   190
to protest             188
barclays               185
back                   184
still                  178
protestors             175
last                   175
think                  173
support                173
killed                 169
in brooklyn            168
park                   168
make                   168
please                 167
really                 167
change                 166
and the                166
defund                 165
never                  162
nycmayor               161
way                    161
york                   160
new york               160
center                 156
officer                155
curfew                 155
black people           155
state                  155
2020                   154
police officers        153
day                    151
plaza                  150
said                   148
with the               146
every                  143
good                   143
shit                   142
need to                141
is the                 141
protesting             141
force                  140
dtype: int64

### CountVectorizer analysis - Staten Island

In [20]:
from nltk.corpus import stopwords

SI_stopwords = ['twitter','twitter com','https','https twitter','https twitter com',
                'pic twitter','pic twitter com','in the','if you','you re','of the','petition http',
                'petition http chng','http chng','http chng it']

# countvectorizing SI tweets
vectorizer = CountVectorizer(ngram_range=(1,3))

X = vectorizer.fit_transform(SI_tweets['tweet'])

user_ids = list(SI_tweets['user_id'])

countvec_SI = pd.DataFrame(X.toarray(),columns=vectorizer.get_feature_names())

# build df with SI user_ids and countvectorized tweets
countvec_SI.insert(0, "user_id", user_ids, False) 

# import list of general stopwords
stopwords = stopwords.words()

# create list of stopwords found in the SI tweets
stopwords = list(set(countvec_SI.columns) & set(stopwords))+SI_stopwords

# remove stopwords from countvectorized SI tweets
countvec_SI = countvec_SI.drop(stopwords,axis=1)

In [21]:
print(countvec_SI.shape)
countvec_SI.head()

(716, 35578)

,user_id,000,000 blm,000 blm tees,01,01 us,01 us george,02,02 george,02 george floyd,...,zones,zones can,zones can pick,zones to,zones to police,zrd5y8k4,zrd5y8k4 via,zrd5y8k4 via change,zrvq3aesi6,zypog0iptu
0,99202763,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,285961054,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,548761315,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1189288932359442433,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,398472178,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
pd.options.display.max_colwidth = 300

SI_tweets[SI_tweets['tweet'].str.contains("white")].shape

(24, 33)

In [23]:
pd.options.display.max_rows = 4000

print('Number of SI tweets: '+str(countvec_SI.shape[0]))
countvec_SI.iloc[:,1:].sum(axis=0).sort_values(ascending=False)[:100]

Number of SI tweets: 716

police                393
protest               200
status                149
people                127
floyd                 117
george                110
black                 107
george floyd           99
the police             85
blm                    64
lives                  58
matter                 55
peaceful               55
officers               54
get                    52
change                 51
justice                49
like                   48
lives matter           47
black lives            44
would                  42
police officers        41
think                  40
stop                   40
go                     39
black lives matter     38
via                    38
death                  38
right                  37
see                    37
island                 37
going                  37
sign                   36
us                     36
justice for            35
http                   34
staten island          33
staten                 33
petition               33
blacklivesmatter       32
back                   31
this is                31
cops                   31
let                    31
today                  30
the petition http      30
peaceful protest       30
sign the petition      30
chng                   30
the petition           30
via change             30
need                   30
chng it                30
sign the               30
officer                29
white                  29
for the                28
to protest             28
minneapolis            28
mayor                  28
nyc                    27
force                  27
make                   26
know                   26
murder                 26
on the                 26
even                   26
to be                  25
www                    25
violence               25
breonna                25
law                    25
breonna taylor         24
please                 24
shit                   24
taylor                 24
they are               24
going to               24
say                    24
protest in             24
https www              23
protesters             23
and the                22
brutality              22
to the                 22
way                    21
time                   21
enough                 21
protests               21
support                21
by the                 21
riot                   21
with the               20
cop                    20
protect                20
defund                 20
good                   19
looting                19
nypd                   19
for george             19
dtype: int64

In [28]:
pd.options.display.max_colwidth = 300

print('BK tweets')
print('number of times \'cop\' appears: '+str(BK_tweets[BK_tweets['tweet'].str.contains("cop")].tweet.shape[0]))
print('number of times \'officer\' appears: '+str(BK_tweets[BK_tweets['tweet'].str.contains("officer")].tweet.shape[0]))

print('SI tweets')
print('number of times \'cop\' appears: '+str(SI_tweets[SI_tweets['tweet'].str.contains("cop")].tweet.shape[0]))
print('number of times \'officer\' appears: '+str(SI_tweets[SI_tweets['tweet'].str.contains("officer")].tweet.shape[0]))

BK tweets
number of times 'cop' appears: 410
number of times 'officer' appears: 352
SI tweets
number of times 'cop' appears: 41
number of times 'officer' appears: 67

### TF-IDF vectorizer analysis - Brooklyn

In [85]:
from nltk.corpus import stopwords

BK_stopwords = ['www','https','https twitter','https twitter com','twitter',
                'pic twitter','pic twitter com','twitter com',
                'https www', 'https www instagram','instagram','instagram com',
                'www instagram','www instagram com','at the','in the','of the',
                'the protest','if you','this is','on the','to the']

# filtering out tweets that got fewer than 10 likes to make processing easier
BK_tweets = BK_tweets[BK_tweets.nlikes>=10]

# tfidf vectorizing BK tweets
vectorizer = TfidfVectorizer(ngram_range=(1,3))

X = vectorizer.fit_transform(BK_tweets['tweet'])

user_ids = list(BK_tweets['user_id'])

tfidf_BK = pd.DataFrame(X.toarray(),columns=vectorizer.get_feature_names())

# build df with BK user_ids and countvectorized tweets
tfidf_BK.insert(0, "user_id", user_ids, False) 

# import list of general stopwords
stopwords = stopwords.words()

# create list of stopwords found in the BK tweets
stopwords = list(set(tfidf_BK.columns) & set(stopwords))+BK_stopwords

# remove stopwords from countvectorized BK tweets
tfidf_BK = tfidf_BK.drop(stopwords,axis=1)

In [86]:
tfidf_BK.head()

,user_id,00,00 is,00 is that,00 pm,00 pm at,00 pm reward,000,000 dead,000 dead and,...,ztjnoeyzbv,ztk8egctts,zuck,zudujdsan6,zuotnvqwwr,zy3adslzgq,zy3adslzgq at,zy3adslzgq at prospect,zyhfawyzcb,zzqbhlczhs
0,1411902361,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,87384843,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,398136617,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,516918524,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,416506824,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [93]:
pd.options.display.max_rows = 4000

print('Number of BK tweets: '+str(tfidf_BK.shape[0]))

# sorting keyword terms by average tfidf score (including zeros)
tfidf_BK.iloc[:,1:].mean(axis=0).sort_values(ascending=False)[:100]

Number of BK tweets: 1326

police                0.016858
protest               0.013188
black                 0.011142
the police            0.009513
status                0.008449
lives                 0.007848
matter                0.007478
people                0.007160
floyd                 0.007149
black lives           0.006989
george                0.006757
lives matter          0.006725
brooklyn              0.006629
george floyd          0.006583
black lives matter    0.006487
blm                   0.005687
blacklivesmatter      0.005602
peaceful              0.004866
today                 0.004694
nyc                   0.004305
barclays              0.004279
nypd                  0.004119
white                 0.004010
like                  0.003907
brutality             0.003880
police brutality      0.003797
fuck                  0.003768
center                0.003671
us                    0.003631
barclays center       0.003515
protests              0.003496
cops                  0.003389
right                 0.003298
get                   0.003295
plaza                 0.003257
go                    0.003233
justice               0.003232
riot                  0.003218
protesters            0.003183
peaceful protest      0.003120
park                  0.003012
violence              0.003002
need                  0.002977
to protest            0.002949
say                   0.002922
at barclays           0.002911
going                 0.002829
in brooklyn           0.002824
breonna               0.002817
curfew                0.002749
at barclays center    0.002723
taylor                0.002713
see                   0.002713
new                   0.002692
know                  0.002662
breonna taylor        0.002586
police are            0.002576
you re                0.002536
city                  0.002535
please                0.002528
time                  0.002524
georgefloyd           0.002523
way                   0.002514
protestors            0.002496
of police             0.002478
to be                 0.002461
black people          0.002437
for the               0.002435
army                  0.002377
racism                0.002375
protest in            0.002370
last                  0.002340
officers              0.002336
nycmayor              0.002299
let                   0.002255
never                 0.002250
stop                  0.002231
would                 0.002202
even                  0.002187
officer               0.002184
still                 0.002144
fucking               0.002143
safe                  0.002130
march                 0.002120
for george            0.002112
with the              0.002083
tonight               0.002082
murdered              0.002070
many                  0.002051
grand                 0.002034
change                0.001992
for george floyd      0.001987
grand army            0.001972
by police             0.001968
night                 0.001964
support               0.001961
is the                0.001944
home                  0.001937
you can               0.001931
force                 0.001930
dtype: float64

### TF-IDF vectorizer analysis - Staten Island

In [88]:
from nltk.corpus import stopwords

SI_stopwords = ['twitter','twitter com','https','https twitter','https twitter com',
                'pic twitter','pic twitter com','in the','if you','you re','of the']

# tfidf vectorizing BK tweets
vectorizer = TfidfVectorizer(ngram_range=(1,3))

X = vectorizer.fit_transform(SI_tweets['tweet'])

user_ids = list(SI_tweets['user_id'])

tfidf_SI = pd.DataFrame(X.toarray(),columns=vectorizer.get_feature_names())

# build df with BK user_ids and countvectorized tweets
tfidf_SI.insert(0, "user_id", user_ids, False) 

# import list of general stopwords
stopwords = stopwords.words()

# create list of stopwords found in the BK tweets
stopwords = list(set(tfidf_SI.columns) & set(stopwords))+SI_stopwords

# remove stopwords from countvectorized BK tweets
tfidf_SI = tfidf_SI.drop(stopwords,axis=1)

In [89]:
tfidf_SI.head()

,user_id,01,01 us,01 us george,02,02 george,02 george floyd,06,06 01,06 01 us,...,zh2sz2fx via,zh2sz2fx via change,ziguinchor,ziguinchor region,ziguinchor region senegal,zrd5y8k4,zrd5y8k4 via,zrd5y8k4 via change,zrvq3aesi6,zypog0iptu
0,524076913,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,99202763,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,524076913,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,524076913,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,506497130,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [95]:
pd.options.display.max_rows = 4000

print('Number of SI tweets: '+str(tfidf_SI.shape[0]))

# sorting keyword terms by average tfidf score (including zeros)
tfidf_SI.iloc[:,1:].mean(axis=0).sort_values(ascending=False)[:100]

Number of SI tweets: 592

police                0.018258
protest               0.014505
floyd                 0.011940
george                0.011887
status                0.011270
george floyd          0.011112
black                 0.008843
people                0.008689
justice               0.007314
lives                 0.007246
matter                0.007167
change                0.007019
the police            0.006666
lives matter          0.006596
via                   0.006418
sign                  0.006376
petition              0.006246
justice for           0.006156
http                  0.006061
black lives           0.006003
sign the petition     0.005900
chng                  0.005900
chng it               0.005900
petition http         0.005900
petition http chng    0.005900
via change            0.005900
http chng             0.005900
http chng it          0.005900
sign the              0.005900
the petition http     0.005900
the petition          0.005900
black lives matter    0.005668
peaceful              0.005429
blm                   0.005042
get                   0.004809
mayor                 0.004593
death                 0.004558
officers              0.004467
would                 0.004379
for george floyd      0.004375
for george            0.004375
island                0.004336
go                    0.004308
justice for george    0.004288
like                  0.004273
blacklivesmatter      0.004210
going                 0.004151
stop                  0.004118
floyd sign            0.004066
floyd sign the        0.004066
george floyd sign     0.004066
staten island         0.003960
staten                0.003960
see                   0.003830
jacob                 0.003818
frey justice          0.003753
jacob frey            0.003753
jacob frey justice    0.003753
frey justice for      0.003753
frey                  0.003753
mayor jacob frey      0.003753
mayor jacob           0.003753
cops                  0.003746
think                 0.003744
breonna               0.003714
peaceful protest      0.003690
to protest            0.003669
today                 0.003625
right                 0.003622
taylor                0.003565
breonna taylor        0.003565
police officers       0.003511
us                    0.003355
on the                0.003310
riot                  0.003246
minneapolis           0.003241
officer               0.003055
murder                0.003005
force                 0.002967
going to              0.002966
south                 0.002945
let                   0.002931
this is               0.002871
south shore           0.002857
shore                 0.002857
nyc                   0.002856
for the               0.002828
protest in            0.002808
need                  0.002773
protesters            0.002728
know                  0.002715
please                0.002700
back                  0.002643
brutality             0.002618
to the                0.002615
to be                 0.002599
way                   0.002593
protests              0.002592
violence              0.002582
shit                  0.002582
dtype: float64